body {
    background-color: rgb(150, 150, 230);
}

h2 {
    color: rgb(150, 150, 230)
}

h2 {
    text-align: center;
}

h2 {
    background-color: aquamarine;
}

a:hover {
    background-color: cornflowerblue;
}

a:visited {
    color: aquamarine
}

a:active {
    color: red
}