body {
    background-color: rgb(150, 150, 230);
}

h2 {
    color: blueviolet;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

a:hover{
    background-color:cornflowerblue;
}

a:visited{
    color:aquamarine
}

a:active{
    color:red
}