body {
    background-color: rgb(150, 150, 230);
}

h2 {
    color: blueviolet;
}

h2 {
    text-align: center;

h2 {
    font-family: 'Times New Roman', Times, serif;
}

a:hover{
    font-size: 60px;
}